body {
  background-color: #f6f4e6;
  font-family: "Architects Daughter", cursive;
  font-weight: 600;
}

h1,
h2,
h3,
footer,
.temperature,
.low-temp {
  color: #41444b;
}

h1 {
  font-size: 62px;
  padding-left: 12px;
  margin-bottom: 0;
}

h2 {
  font-size: 80px;
  text-align: center;
}

h4 {
  font-size: 20px;
  color: #52575d;
  text-align: right;
  padding: 0 32px;
}

footer {
  text-align: center;
}

.card {
  box-shadow: 5px 5px 8px 5px rgb(0 0 0 / 10%);
  margin: 24px 120px;
  border: 3px solid #41444b;
  background: #ffffff;
}

.card-body {
  padding: 2rem 3rem;
}

.favorite-button,
.fun-description,
.weather-details,
.time,
.week-day {
  color: #52575d;
}

.card-header {
  background-color: #ffffff;
  border-bottom: 1px solid #41444b;
}

.change-city-text {
  border: 2px solid #52575d;
}

.fun-description,
.time,
.temperature,
.week-day {
  text-align: center;
}

form,
div.dropdown {
  display: inline;
}

div.city-search {
  text-align: right;
}

a.favorite-button {
  padding: 7px 0 7px 7px;
}

h3.current-weather {
  padding-left: 12px;
}

p.weather-details {
  font-weight: 500;
  text-align: right;
  padding-right: 34px;
  font-size: 18px;
}

.card.hourly-weather,
.card.daily-weather {
  padding: 10px;
}

.button {
  border-color: #52575d;
  color: #52575d;
  background-color: #f6f4e6;
}

.weather-image img {
  width: 70%;
  display: block;
  margin: 0 auto;
}

.hourly.temperature {
  padding-bottom: 15px;
}

.weather-image.current-weather {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.weather-image.daily {
  width: 80%;
}

div.second-row {
  margin-top: 48px;
}

#current-temperature {
  font-size: 150px;
}

#current-description {
  text-transform: capitalize;
}
